In [1]:
import pandas as pd

In [2]:
def limit_sigma(sigma, stdev_min, stdev_max):
    if sigma < stdev_min:
        return stdev_min
    elif sigma > stdev_max:
        return stdev_max
    else:
        return sigma

def calc_rolling_sigma(data, stdev_rolling_window, side):
    #Calculate rolling sigma
    data['sigma_' + side] = data[side].shift().rolling(
        window=stdev_rolling_window,
        min_periods=1
    ).std()
    #Get quartiles
    q1, q3 = data['sigma_' + side].quantile([0.25, 0.75])
    #Limit sigma according to quartiles
    data['sigma_' + side] = data['sigma_' + side].apply(
        limit_sigma, args=(q1, q3,)
    )

# First we'll read the data from a CSV

In [3]:
data = pd.read_csv('example.csv').drop('Unnamed: 0', axis=1) #Read from file, dropping old indices
data.head()

         timestamp  LEFT  RIGHT    part  line    index
0  9/24/19 9:37 AM  5232   5283  ZAA1UP     4  5323000
1  9/24/19 9:38 AM  5232   5283  ZAA1UP     4  5323001
2  9/24/19 9:38 AM  5265   5300  ZAA1UP     4  5323002
3  9/24/19 9:38 AM  5265   5275  ZAA1UP     4  5323003
4  9/24/19 9:40 AM  4521   4488  ZAA1UP     4  5323004

# Now let's use the functions to calculate a rolling standard deviation

In [4]:
stdev_rolling_window = 15

for side in ['LEFT', 'RIGHT']:
    calc_rolling_sigma(data, stdev_rolling_window, side)

In [7]:
data.head(50)

,timestamp,LEFT,RIGHT,part,line,index,sigma_LEFT,sigma_RIGHT
0,9/24/19 9:37 AM,5232,5283,ZAA1UP,4,5323000,NaN,NaN
1,9/24/19 9:38 AM,5232,5283,ZAA1UP,4,5323001,NaN,NaN
2,9/24/19 9:38 AM,5265,5300,ZAA1UP,4,5323002,16.501137,23.016609
3,9/24/19 9:38 AM,5265,5275,ZAA1UP,4,5323003,19.052559,23.016609
4,9/24/19 9:40 AM,4521,4488,ZAA1UP,4,5323004,19.052559,23.016609
5,9/24/19 9:41 AM,5321,5454,ZAA1UP,4,5323005,89.624587,125.157770
6,9/24/19 9:41 AM,5266,5289,ZAA1UP,4,5323006,89.624587,125.157770
7,9/24/19 9:41 AM,5273,5312,ZAA1UP,4,5323007,89.624587,125.157770
8,9/24/19 9:41 AM,5271,5303,ZAA1UP,4,5323008,89.624587,125.157770
9,9/24/19 9:41 AM,5250,5283,ZAA1UP,4,5323009,89.624587,125.157770
10,9/24/19 9:42 AM,5264,5297,ZAA1UP,4,5323010,89.624587,125.157770
11,9/24/19 9:42 AM,5282,5322,ZAA1UP,4,5323011,89.624587,125.157770
12,9/24/19 9:42 AM,5291,5295,ZAA1UP,4,5323012,89.624587,125.157770
13,9/24/19 9:42 AM,5266,5299,ZAA1UP,4,5323013,89.624587,125.157770
14,9/24/19 9:42 AM,5290,5339,ZAA1UP,4,5323014,89.624587,125.157770
15,9/24/19 9:43 AM,5287,5313,ZAA1UP,4,5323015,89.624587,125.157770
16,9/24/19 9:43 AM,5282,5308,ZAA1UP,4,5323016,89.624587,125.157770
17,9/24/19 9:43 AM,5301,5351,ZAA1UP,4,5323017,89.624587,125.157770
18,9/24/19 9:43 AM,5278,5313,ZAA1UP,4,5323018,89.624587,125.157770
19,9/24/19 9:43 AM,5278,5313,ZAA1UP,4,5323019,89.624587,125.157770
20,9/24/19 9:44 AM,5298,5333,ZAA1UP,4,5323020,17.083827,41.270536
21,9/24/19 9:44 AM,5274,5308,ZAA1UP,4,5323021,16.501137,23.016609
22,9/24/19 9:44 AM,5292,5318,ZAA1UP,4,5323022,16.501137,23.016609
23,9/24/19 9:44 AM,5295,5349,ZAA1UP,4,5323023,16.501137,23.016609
24,9/24/19 9:44 AM,5290,5347,ZAA1UP,4,5323024,16.501137,23.016609
25,9/24/19 9:44 AM,5241,5244,ZAA1UP,4,5323025,16.501137,23.016609
26,9/24/19 9:45 AM,5292,5287,ZAA1UP,4,5323026,16.501137,26.982005
27,9/24/19 9:45 AM,5296,5339,ZAA1UP,4,5323027,16.501137,27.994557
28,9/24/19 9:45 AM,5263,5305,ZAA1UP,4,5323028,16.501137,28.114053
29,9/24/19 9:45 AM,5279,5308,ZAA1UP,4,5323029,16.501137,27.875232
30,9/24/19 9:45 AM,5253,5278,ZAA1UP,4,5323030,16.501137,27.335134
31,9/24/19 9:47 AM,5268,5305,ZAA1UP,4,5323031,17.346058,29.026589
32,9/24/19 9:49 AM,3807,3733,ZAA1UP,4,5323032,17.650846,29.076746
33,9/24/19 9:49 AM,5447,5382,ZAA1UP,4,5323033,89.624587,125.157770
34,9/24/19 9:49 AM,5277,5297,ZAA1UP,4,5323034,89.624587,125.157770
35,9/24/19 9:49 AM,5291,5325,ZAA1UP,4,5323035,89.624587,125.157770
36,9/24/19 9:49 AM,5277,5330,ZAA1UP,4,5323036,89.624587,125.157770
37,9/24/19 9:50 AM,5277,5318,ZAA1UP,4,5323037,89.624587,125.157770
38,9/24/19 9:50 AM,5288,5329,ZAA1UP,4,5323038,89.624587,125.157770
39,9/24/19 9:50 AM,5281,5308,ZAA1UP,4,5323039,89.624587,125.157770
40,9/24/19 9:50 AM,5301,5322,ZAA1UP,4,5323040,89.624587,125.157770
41,9/24/19 9:50 AM,5296,5340,ZAA1UP,4,5323041,89.624587,125.157770
42,9/24/19 9:51 AM,5284,5268,ZAA1UP,4,5323042,89.624587,125.157770
43,9/24/19 9:51 AM,5294,5343,ZAA1UP,4,5323043,89.624587,125.157770
44,9/24/19 9:51 AM,5301,5343,ZAA1UP,4,5323044,89.624587,125.157770
45,9/24/19 9:51 AM,5302,5328,ZAA1UP,4,5323045,89.624587,125.157770
46,9/24/19 9:51 AM,5285,5317,ZAA1UP,4,5323046,89.624587,125.157770
47,9/24/19 9:51 AM,5289,5317,ZAA1UP,4,5323047,89.624587,125.157770
48,9/24/19 9:52 AM,5289,5317,ZAA1UP,4,5323048,41.777757,24.893679
49,9/24/19 9:52 AM,5285,5283,ZAA1UP,4,5323049,16.501137,23.016609